<!DOCTYPE html>
<html>
  <head>
    <title>CrossReact</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'index.js' %>
  </head>

  <body>
    <div class="flash-notices">
      <% flash.each do |key, msg| %>
        <div class="flash-<%= key %>">
          <span><%= msg %></span>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
