<div class="row" id="new-puzzle">
  <h1>Create a new puzzle</h1>

  <%= form_for @puzzle do |f| %>
      <%= f.label :title, "Draft Name" %>
      <%= f.text_field :title %>

      <%= f.label :size, "Enter a size for a new puzzle (number of rows)" %>
      <%= f.text_field :size %>

      <%= f.submit "Create Crossword", class: "submit-button" %>
  <% end %>
</div>
