<h1>New puzzle</h1>

<%= form_for @puzzle do |f| %>
  <div class="row">
    <%= f.label :title, "Draft Name" %>
    <%= f.text_field :title %>
  </div>

  <div class="row">
    <%= f.label "Enter a size for a new puzzle (number of rows)" %>
    <%= f.label :size %>
    <%= f.text_field :size %>
  </div>

  <div class="row">
    <%= f.submit "Create Crossword" %>
  </div>
<% end %>
